
/* 
* SFProText  
*/
@font-face {
	font-family: "text-r";
	src: url(../fonts/SFProText-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "text-sb";
	src: url(../fonts/SFProText-Semibold.ttf) format("truetype");
}
@font-face {
	font-family: "text-b";
	src: url(../fonts/SFProText-Bold.ttf) format("truetype");
}
